apturl==0.5.2
cairocffi==1.0.2
CairoSVG==2.4.0
cffi==1.12.3
chardet==2.3.0
cssselect2==0.2.1
defer==1.0.6
defusedxml==0.6.0
Django==2.2.22
django-crispy-forms==1.7.2
html5lib==1.0.1
mysqlclient==1.4.2.post1
Pillow==6.0.0
pycparser==2.19
pycurl==7.43.0
pygobject==3.20.0
Pyphen==0.9.5
python-apt==1.1.0b1+ubuntu0.16.4.4
pytz==2019.1
requests==2.9.1
six==1.10.0
sqlparse==0.3.0
ssh-import-id==5.5
tinycss2==1.0.2
transliterate==1.10.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
uWSGI==2.0.18
WeasyPrint==47
webencodings==0.5.1
xkit==0.0.0
