{% extends 'base.html' %}
{% load static %}

<body>
{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
{#					<nav class="d-flex align-items-center">#}
{#                        <h1>Контакты</h1>#}
{#                    </nav>#}
{#					<nav class="d-flex align-items-center">#}
{#						<a href="/">Главная<span class="lnr lnr-arrow-right"></span></a>#}
{#						<a href="">Контакты</a>#}
{#					</nav>#}
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
    <br>
    <br>
	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-start" style="font-family: inherit; font-size: 19px;
                padding-bottom: 50px;">
                        <a style="color: #666666" href="/"><i class="fas fa-home"></i> Главная <span class="lnr lnr-arrow-right"></span></a>
                        <a style="color: #666666" href="">Контакты</a>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
                            <i class="fas fa-map-marked-alt"></i>
							<h6>Херсон, Украина</h6>
							<p>улица 200 лет, 57</p>
						</div>
						<div class="info_item">
							<i class="fas fa-clock"></i>
                            <h6><a href="#">+38-099-547-69-78</a></h6>
							<p>Понедельник - Пятница с 9:00 до 18:00</p>
						</div>
						<div class="info_item">
							<i class="fas fa-envelope"></i>
                            <h6><a href="#">support@colorlib.com</a></h6>
							<p>Если у вас есть вопросы, пишите нам!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->

{% endblock %}
</body>

</html>