{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- Start Banner Area -->
     <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            </div>
        </div>
     </section>
	<!-- End Banner Area -->
    <section class="order_details section_gap">
		<div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-start" style="font-family: inherit; font-size: 19px;
                            padding-bottom: 50px;">
                        <a style="color: #666666" href="/"><i class="fas fa-home"></i> Главная</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-offset-2 col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-2">
                    <h3 class="text-center">
                        <span>Спасибо за Ваш заказ! Он принят в обработку.</span>
                        <span>В ближайшее время менеджер с Вами свяжеться.</span>
                    </h3>

                    <p class="text-center" style="padding-top: 50px"><a href="/"><button class="btn primary-btn">Вернуться к покупкам</button></a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}